# Ignore All File In Folder
/env/
**/__pycache__/
**/__init__.py

# Ignore All File With Extension
*.log
*.tmp

# Ignore File
ManagementTask/ManagementTask/public/files
# Ignore File Except important.log
# *.log
# !important.log